
        <!-- slider-section-start -->
        <section class="slider-main-area">
            <div class="main-slider an-si">
                <div class="bend niceties preview-2 hm-ver-1">
                    <div id="ensign-nivoslider-2" class="slides">	
                        <img src="img/slider/1.png" alt="" title="#slider-direction-3"  />
                        <img src="img/slider/2.png" alt="" title="#slider-direction-1"  />
                    </div>
                    <!-- direction 1 -->
                    <div id="slider-direction-3" class="t-cn slider-direction Builder">
                        <div class="slide-all">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">دوره ها </h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">آنچه شیک پوشان به تن دارند.</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">تخفیف تا 40%</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#">خرید</a>
                            </div>
                        </div>
                    </div>
                    <div id="slider-direction-1" class="t-cn slider-direction Builder">
                        <div class="slide-all slide2">
                            <!-- layer 1 -->
                            <div class="layer-1">
                                <h2 class="title5">محصولات جدید</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <h2 class="title6">آنچه شیک پوشان به تن دارند.</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2">
                                <p class="title0">تخفیف تا 40%</p>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3">
                                <a class="min1" href="#">خرید</a>
                            </div>
                        </div>
                    </div>
			    </div>
            </div>
        </section>
		<!-- slider section end -->

        <form action="/courses" method="get">
            <div class="row">
                <div class="form-group col-md-2 col-md-offset-5" style=" direction: rtl;">
                    <input type="hidden" name="search" value="">
                    <span>عبارت جستجو شده :    <a href="#" class="btn">حذف</a></span>
                </div>
            </div>

        <div class="row">    
            <div class="form-group col-md-2 col-md-offset-5"  style="direction: rtl;">
                <select name="type" class="form-control">
                    <option value="all">همه دوره ها</option>
                    <option value="vip">اعضای ویژه</option>
                    <option value="cash">نقدی</option>
                    <option value="free">رایگان</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-2 col-md-offset-5">
            <label class="checkbox-inline">
                <input type="checkbox" name="order" value="1" class="ml-2">از اول به آخر
            </label>
        </div>

        
        <div class="form-group col-md-2 col-md-offset-5" style="direction: rtl;">
            <button class="btn btn-danger" type="submit">فیلتر</button>
        </div>

        </form>

        <!-- blog section start -->
		<section class="blog section-padding-top section-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h3>  دوره ها</h3>
							<div class="section-icon">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </div>
						</div>
					</div>
				</div>


                  

				<div class="row">
					<div id="blog" class="owl-carousel product-slider owl-theme re-blog">
                        <% courses.forEach(course => { %>
						<div class="col-xs-12">
							<div class="blog-container-inner">
                                <div class="post-thumb">
                                    <a href="<%= course.path() %>"><img class="attachment-blog-list wp-post-image" alt="<%= course.thumb %>" src="<%= course.thumb %>"></a>
                                </div>
                                <div class="visual-inner">
                                    <h2 class="blog-title">
                                        <a href="<%= course.path() %>"><%= course.title %></a>
                                    </h2>
                                    <div class="blog-meta">
                                        <span class="post-category">
                                            
                                            <a rel="category" href="<%= course.path() %>">مردانه</a>
                                        </span>
                                        <span class="published">
                                            <i class="fa fa-clock-o"></i>
                                            <%= date(course.createdAt).format('jD jMMMM jYYYY') %>
                                        </span>
                                        <span class="published2"><%= course.viewCount %> بازدید</span>
                                    </div>
                                    <div class="blog-content"><%= course.body.substr(0,100) %></div>
                                </div>
                            </div>
						</div>
                        <% }) %>
						<!-- single blog item end -->
					</div>
				</div>
			</div>
		</section>
		<!-- blog section end -->

        <%- include(viewPath('layouts/pagination') ,{ pagination : courses}) %>