<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>اسلایدر</h2>
    <div class="btn-group">
        <a href="/admin/sliders/create" class="btn btn-sm btn-primary">ایجاد اسلایدر جدید</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>عنوان اسلایدر</th>
            <th>تنظیمات</th>
        </tr>
        </thead>
        <tbody>
            <% sliders.docs.forEach(slider => { %> 
                <tr>
                    <td><a href="<%= slider.path() %>"><%= slider.title %></a></td>
                    <td>
                        <form action="/admin/sliders/<%= slider._id %>?_method=DELETE" method="post">

                            <div class="btn-group btn-group-sm">
                                <a href="/admin/sliders/<%= slider._id %>/edit"  class="btn btn-primary">ویرایش</a>
                                <button type="submit" class="btn btn-danger">حذف</button>
                            </div>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include(viewPath('layouts/pagination') ,{ pagination : sliders}) %>
</div>

